:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --secondary-color: #2196f3;
  --primary-style-button: #f5f4fa;
  --secondary-text-btn: #ffffff;
  --text-footer: #ffffff;
  --contact-link-footer: rgba(255, 255, 255, 0.6);
  --background-color: #2f303a;
  --secondary-background-color: #ffffff;
  --third-background-color: #f5f5f5;
  --fourth-background-color: #f5f4fa;
  --background-main-button: #188ce8;
  --border-color: #eeeeee;
  --border-header-color: #ececec;
  --background-features-icon: rgba(245, 244, 250, 1);
  --team-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --icon-color: rgba(175, 177, 184, 1);
  --team-social-background-color: rgba(255, 255, 255, 1);
  --box-shadow-filter: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --footer-soc-background: rgba(255, 255, 255, 0.1);
  --filter-card-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: in(50%);
          clip-path: in(50%);
  margin: -1px;
}

body {
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.item {
  background-color: var(--secondary-background-color);
}

.text {
  color: var(--secondary-text-color);
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-footer);
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }
  .footer-title {
    text-align: left;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  position: relative;
  background-color: var(--secondary-background-color);
  border-bottom: 1px solid var(--border-header-color);
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-text-color);
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-color);
}

@media screen and (max-width: 767px) {
  .mobile-menu-btn {
    border: 0;
    padding: 0;
    background-color: var(--secondary-text-btn);
  }
}
.mobile-menu-btn__icon {
  fill: var(--main-text-color);
}
.mobile-menu-btn__icon:hover, .mobile-menu-btn__icon:focus {
  fill: var(--secondary-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  overflow: auto;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--secondary-text-btn);
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__bth-close {
  position: absolute;
  top: 10px;
  right: 15px;
  border: 0;
  padding: 0;
  -webkit-transition: visibility var(--animation);
  transition: visibility var(--animation);
  background-color: var(--secondary-text-btn);
}
.mobile-menu__bth-close:hover, .mobile-menu__bth-close:focus {
  fill: var(--secondary-color);
}

.mobile-menu__conteiner {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  cursor: pointer;
}

.mobile-menu-nav {
  margin-bottom: 302px;
}

.mobile-menu-nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.mobile-menu-nav__link:hover, .mobile-menu-nav__link:focus {
  color: var(--secondary-color);
}
.mobile-menu-nav__link--current {
  color: var(--secondary-color);
}

.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contact {
  margin-bottom: 64px;
}

.mobile-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contact__link--tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.mobile-menu-contact__link--mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-menu-soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu-soc__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-menu-soc__link {
  display: block;
  position: relative;
  padding-right: 20px;
  color: var(--secondary-color);
}
.mobile-menu-soc__link::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-soc__link--last {
  color: var(--secondary-color);
}

@media screen and (max-width: 479px) {
  .mobile-menu-nav__link {
    font-size: 24px;
  }
  .mobile-menu-contact__link--tel {
    font-size: 25px;
  }
  .mobile-menu-contact__link--mail {
    font-size: 20px;
  }
  .mobile-menu-soc__item {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav {
    margin-left: 88px;
  }
  .navigation__item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color var(--animation);
    transition: color var(--animation);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--secondary-color);
  }
  .navigation__link--current {
    position: relative;
    color: var(--secondary-color);
  }
  .navigation__link--current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    border-radius: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }
}
@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }
  .contact__item--header {
    margin-bottom: 10px;
  }
  .contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
  .contact__icon {
    display: block;
    fill: currentColor;
    margin-right: 8px;
  }
  .contact__icon--envelope {
    width: 14px;
    height: 10px;
  }
  .contact__icon--smartphone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
  .contact__item--header {
    margin-bottom: 0;
  }
  .contact__link {
    font-size: 14px;
    line-height: 1.14;
    -webkit-transition: color var(--animation);
    transition: color var(--animation);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--secondary-color);
  }
  .contact__icon {
    margin-right: 10px;
  }
  .contact__icon--envelope {
    width: 16px;
    height: 12px;
  }
  .contact__icon--smartphone {
    width: 10px;
    height: 16px;
  }
}
.hero {
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mobile@1x.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-color: var(--background-color);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-tablet@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet@1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-desctop@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desctop@1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-desctop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desctop@2x.jpg");
  }
}
.hero__title {
  margin-bottom: 30px;
  color: var(--secondary-text-btn);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: inline-block;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-btn);
  background-color: var(--secondary-color);
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.hero__button:hover, .hero__button:focus {
  color: var(--secondary-text-btn);
  background-color: var(--background-main-button);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
  .hero__button {
    min-width: 216px;
    min-height: 50px;
  }
}
.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px 40px;
  background-color: var(--secondary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: opacity var(--animation), -webkit-transform var(--animation);
  transition: opacity var(--animation), -webkit-transform var(--animation);
  transition: transform var(--animation), opacity var(--animation);
  transition: transform var(--animation), opacity var(--animation), -webkit-transform var(--animation);
}

.modal-close-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
  background-color: var(--secondary-background-color);
  opacity: 1;
  -webkit-transition: opacity var(--animation), fill var(--animation);
  transition: opacity var(--animation), fill var(--animation);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--secondary-color);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

@media screen and (min-width: 480px) {
  .modal {
    position: fixed;
    width: 450px;
    height: 609px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-inputs {
  display: block;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 100%;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.modal__field {
  text-align: left;
  margin-bottom: 10px;
}
.modal__field-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.modal__field-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.modal__field-input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border var(--animation), -webkit-box-shadow var(--animation);
  transition: border var(--animation), -webkit-box-shadow var(--animation);
  transition: border var(--animation), box-shadow var(--animation);
  transition: border var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.modal__field-input:focus {
  outline: 0;
  border: 1px solid var(--secondary-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__field-input:focus-within + .modal__field-icon {
  fill: var(--secondary-color);
}

.modal__field-coment {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.modal__field-input--coment {
  display: block;
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal__field-input--coment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__field-input--coment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__field-input--coment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__field-input--coment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__field-input--coment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__field-input--coment:focus {
  outline: 0;
  border: 1px solid var(--secondary-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.modal__license-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.16;
  cursor: pointer;
}

.modal__license-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: in(50%);
          clip-path: in(50%);
  margin: -1px;
}

.modal__license-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 4px;
  -webkit-transition: background-color var(--animation), background-image var(--animation), background-size var(--animation), background-origin var(--animation), border-color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), background-image var(--animation), background-size var(--animation), background-origin var(--animation), border-color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), background-image var(--animation), background-size var(--animation), background-origin var(--animation), border-color var(--animation), box-shadow var(--animation);
  transition: background-color var(--animation), background-image var(--animation), background-size var(--animation), background-origin var(--animation), border-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}

.modal__license-input:checked + .modal__license-icon {
  background-color: var(--secondary-color);
  background-image: url(..//images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--secondary-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__license-input:not(:checked):focus + .modal__license-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__license-text {
  display: inline-block;
  margin-left: 9px;
  color: var(--secondary-text-color);
}

.modal__license-link {
  color: var(--secondary-color);
  margin-left: 7px;
}

.modal__sent-btn {
  text-align: center;
  cursor: pointer;
  padding: 0;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-btn);
  background-color: var(--secondary-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.modal__sent-btn:hover, .modal__sent-btn:focus {
  background-color: var(--background-main-button);
}

@media screen and (max-width: 479px) {
  .modal__license-label {
    font-size: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-header {
    line-height: 1.15;
  }
  .modal__field-input--coment {
    width: 448px;
  }
  .modal__license-label {
    font-size: 14px;
    line-height: 1.71;
  }
}
.feature__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-features-icon);
  border-radius: 4px;
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.feature__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .feature {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .feature__item {
    margin-bottom: 30px;
  }
  .feature__item:nth-child(2n) {
    margin-right: 0;
  }
  .feature__item:nth-child(n+3) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
  .feature__text {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin-right: 30px;
  }
  .feature__item:last-child {
    margin-right: 0;
  }
}
.section-development {
  padding-top: 0;
}

.development__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.development__item {
  margin-right: 30px;
}
.development__item:last-child {
  margin-right: 0;
}

.development__image {
  position: relative;
}

.development__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--secondary-text-btn);
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .section-development {
    display: none;
  }
}
.team {
  background-color: var(--fourth-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  -webkit-box-shadow: var(--team-box-shadow);
          box-shadow: var(--team-box-shadow);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-card__name {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-card__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

@media screen and (max-width: 480px) {
  .team__item {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .team__item {
    margin-right: 0;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1199px) {
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
  .team__item:nth-child(n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin-bottom: 0;
  }
  .team__item:last-child {
    margin-right: 0;
  }
  .team-card {
    padding-bottom: 30px;
  }
}
.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-social__item {
  display: block;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.team-social__item:last-child {
  margin-right: 0;
}

.team-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: var(--team-social-background-color);
  -webkit-transition: color var(--animation), background-color var(--animation);
  transition: color var(--animation), background-color var(--animation);
}
.team-social__link:hover, .team-social__link:focus {
  color: var(--text-footer);
  background-color: var(--secondary-color);
}

.team-social__icon {
  display: block;
  fill: currentColor;
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client__item {
  height: 92px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  -webkit-transition: color var(--animation), background-color var(--animation), border var(--animation);
  transition: color var(--animation), background-color var(--animation), border var(--animation);
}
.client__link:hover, .client__link:focus {
  color: var(--secondary-color);
  background-color: var(--secondary-background-color);
  border: 1px solid var(--secondary-color);
}

.client__icon {
  display: block;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
  .client__item:nth-child(2n) {
    margin-right: 0;
  }
  .client__item:nth-child(n+5) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
  .client__item:nth-child(3n) {
    margin-right: 0;
  }
  .client__item:nth-child(n+4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
    margin-right: 30px;
    margin-bottom: 0;
  }
  .client__item:last-child {
    margin-right: 0;
  }
}
.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}
.logotype__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-color);
}
.logotype__link--footer {
  display: block;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.logotype__label {
  color: var(--text-footer);
}

@media screen and (max-width: 767px) {
  .logotype {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .logotype {
    margin-right: 165px;
  }
}
.address {
  color: var(--text-footer);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address__text {
  margin-bottom: 9px;
}

.address__item {
  margin-bottom: 9px;
}
.address__item:last-child {
  margin-bottom: 0;
}

.address__contact {
  color: var(--contact-link-footer);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.address__contact:hover, .address__contact:focus {
  color: var(--secondary-color);
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-social__item:last-child {
  margin-right: 0;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--text-footer);
  background-color: var(--footer-soc-background);
  -webkit-transition: color var(--animation), background-color var(--animation);
  transition: color var(--animation), background-color var(--animation);
}
.footer-social__link:hover, .footer-social__link:focus {
  color: var(--text-footer);
  background-color: var(--secondary-color);
}

.footer-social__icon {
  display: block;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-bottom: 60px;
  }
}
.subscription {
  margin-left: auto;
}

.subscription__input {
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  background-color: var(--background-color);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscription__input::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::-moz-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__button-submit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0;
  height: 50px;
  width: 200px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-btn);
  background-color: var(--secondary-color);
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscription__icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: 70px;
  }
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .subscription__input {
    width: 358px;
  }
}
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  margin-right: 8px;
}
.filter__item:last-child {
  margin-right: 0;
}

.filter__button {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.filter__button:hover, .filter__button:focus {
  color: var(--secondary-text-btn);
  background-color: var(--secondary-color);
  -webkit-box-shadow: var(--box-shadow-filter);
          box-shadow: var(--box-shadow-filter);
}
.filter__button--first {
  min-width: 73px;
}
.filter__button--second {
  min-width: 125px;
}
.filter__button--third {
  min-width: 112px;
}
.filter__button--fourth {
  min-width: 103px;
}
.filter__button--fifth {
  min-width: 130px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.project__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}
.project__item:nth-child(3n) {
  margin-right: 0;
}
.project__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.project__link {
  display: inherit;
  color: var(--main-text-color);
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: var(--filter-card-box-shadow);
          box-shadow: var(--filter-card-box-shadow);
}

.project__image {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity var(--animation), -webkit-transform var(--animation);
  transition: opacity var(--animation), -webkit-transform var(--animation);
  transition: opacity var(--animation), transform var(--animation);
  transition: opacity var(--animation), transform var(--animation), -webkit-transform var(--animation);
  opacity: 0;
}

.project__item:hover .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.project__desctiption {
  display: inline-block;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--secondary-text-btn);
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text {
  font-size: 16px;
  line-height: 1.87;
}

.project__footer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}/*# sourceMappingURL=main.css.map */