// .hero {
//     max-width: 1600px;
//     min-height: 600px;
//     margin-left: auto;
//     margin-right: auto;
//     background-color: var(--background-color);
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../images/img(16).jpg");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     text-align: center;

//     padding-top: 200px;
//     padding-bottom: 200px;

//     &__title{
//         margin-bottom: 30px;
//         color: var(--secondary-text-btn);
//         font-weight: 900;
//         font-size: 44px;
//         line-height: 1.36;
//         letter-spacing: 0.06em;
//         text-transform: uppercase;
//     }
//   }
// @media screen and (min-width: 480px) {
.hero {
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../../images/hero-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-color: var(--background-color);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/hero-tablet@1x.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../../images/hero-tablet@2x.jpg");
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/hero-desctop@1x.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../../images/hero-desctop@2x.jpg");
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  color: var(--secondary-text-btn);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: inline-block;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-btn);
  background-color: var(--secondary-color);
  
  transition: color var(--animation), background-color var(--animation),
    box-shadow var(--animation);

  &:hover,
  &:focus {
    color: var(--secondary-text-btn);
    background-color: var(--background-main-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
@media screen and (min-width: 1200px) {
  .hero{
    max-width: 1600px;
    min-height: 600px;
        padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title{
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
  }
  .hero__button{
    min-width: 216px;
  min-height: 50px;
  }
}
