.navigation {
    display: flex;
  }
  .nav {
    margin-left: 93px;
  }
  .navigation__item{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:not(:last-child) {
    margin-right: 50px;
  }
  }
  .navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--animation);

    &:hover,
    &:focus{
        color: var(--secondary-color);
    }
  }
  .navigation__link--current {
    position: relative;
    color: var(--secondary-color);

    &::after{
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: 0;
        background-color: var(--secondary-color);
        border-radius: 2px;
    }
  }