.footer-social {
  margin-left: 70px;
}

.footer-social__list {
  display: flex;
}
.footer-social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}
.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--text-footer);
  background-color: var(--footer-soc-background);
  transition: color var(--animation), background-color var(--animation);

  &:hover,
  &:focus {
    color: var(--text-footer);
    background-color: var(--secondary-color);
  }
}
.footer-social__icon {
  display: block;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .footer-social{
    margin-bottom: 60px;
  }
}