.modal-inputs {
  display: block;
}
.modal-header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 23px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: var(--main-text-color);
}
.modal__field {
  text-align: left;
  margin-bottom: 10px;

  &-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
  }
}
.modal__input {
  display: flex;
  position: relative;
  justify-items: center;
  align-content: center;
  width: 100%;
}
.modal__field-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill var(--animation);
}

.modal__field-input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--animation), box-shadow var(--animation);

  &:focus {
    outline: 0;
    border: 1px solid var(--secondary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
.modal__field-input:focus-within + .modal__field-icon {
  fill: var(--secondary-color);
}
.modal__field-coment {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}
.modal__field-input--coment {
  display: block;
  resize: none;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    outline: 0;
    border: 1px solid var(--secondary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
.modal__license {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .modal__license-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    cursor: pointer;
  }
  .modal__license-input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: in(50%);
    margin: -1px;
  }
  
  .modal__license-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-text-color);
    border-radius: 4px;
    transition: background-color var(--animation),
      background-image var(--animation), background-size var(--animation),
      background-origin var(--animation), border-color var(--animation),
      box-shadow var(--animation);
  }
  .modal__license-input:checked + .modal__license-icon {
    background-color: var(--secondary-color);
    background-image: url(..//images/icon\ check.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--secondary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .modal__license-input:not(:checked):focus + .modal__license-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .modal__license-text {
    display: inline-block;
    margin-left: 9px;
    color: var(--secondary-text-color);
  }
  .modal__license-link {
    color: var(--secondary-color);
    margin-left: 7px;
  }
  
  .modal__sent-btn {
    text-align: center;
    cursor: pointer;
    padding: 0;
    width: 200px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--secondary-text-btn);
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    transition: background-color var(--animation);

    &:hover,
    &:focus{
        background-color: var(--background-main-button);
    }
  }
